* {
  font-family: "Poppins", sans-serif;
}

:root {
  --blu: #1504bf;
  --blu-dark: #1c1473;
  --blu-dark-tr: #1c1473e0;
  --arancione: #ff220c;
  --border-radius: 0.8rem;
  --black: #23231a;
}

.text-arancione {
  color: var(--arancione);
}

.text-bludark {
  color: var(--blu-dark);
}

.btn-masthead {
  border-radius: 1rem;
}

.text-nero {
  color: var(--black);
}

.bg-bludark {
  background-color: var(--blu-dark);
}

.p-navbar {
  background-color: var(--blu-dark-tr);
  transition: 0.5s;
}

.p-navbar .nav-link {
  color: white;
  font-size: 14pt;
  transition: all 0.5s;
  font-weight: 600;
}

.p-navbar .nav-link:hover {
  color: white;
  background-color: var(--arancione);
  border-radius: 20px;
  font-size: 14pt;
  transition: all 0.5s;
  font-weight: 600;
  /* transform: scale(1.1); */
}

.p-navbar .navbar-brand {
  color: var(--arancione);
}

.p-navbar .p-nav-scolled {
  background-color: var(--arancione) !important;
  /* backdrop-filter: blur(15px); */
}

.p-navbar .p-nav-scrolled .nav-link {
  color: var(--arancione);
}

/* .p-navbar .p-nav-scrolled .navbar-brand {
  color: white;
} */

.p-navbar .p-nav-scrolled .nav-link:hover {
  color: var(--arancione);
  background-color: white;
  border-radius: 20px;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("https://images.unsplash.com/photo-1497493292307-31c376b6e479?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80");
  opacity: 90%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
